@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
    background-color: #cafffb;
    width: 800px;
    max-width: 95%;
    margin: 0 auto;
    font-family: "Open Sans";
}

.boxik1 {
    padding: 10px;
    border-width: px;
    border-style: ridge;
    background-color: aquamarine;
    margin: 10px;
}
 
h2 {
    clear: both;
    margin-top: 50px;
}

.tlacitko1 {
    padding: 10px;
}

.moje-foto {
    height: 150px;
    float: left;
    margin-right: 20px;
}

.nadpis-elementu {
    clear: both;
}

.formular {
    margin: 10px;
}

#emailovy-box {
    width: 14em;
}

.zvyrazneny {
    background-color: #9fffd4;
}